<post class="d-flex flex-column align-items-center w-50 border border-primary rounded border-3 pt-2 mb-3 shadow">
    <a href="/post/{{id}}">
        <h3>{{title}}</h3>
    </a>
    <p class="mt-2">{{content}}</p>
    <h5>By: {{user.username}}</h5>
    <h6>Posted: {{date}}</h6>
</post>